@use "/src/sass/base/variables.scss" as *;

.catalog {
	padding-top: 50px;

	&__title {
		margin-top: 60px;
	}

	&__tabs {
		margin-top: 60px;
		padding: 13px 25px;
		display: inline-flex;
		flex-wrap: wrap;
		column-gap: 50px;
		row-gap: 13px;
		border: 1px solid $dark-color;
	}

	&__tab {
		position: relative;
		padding: 0;
		color: #000;
		font-size: 20px;
		font-weight: 500;
		text-transform: uppercase;
		border: none;
		background-color: transparent;
        cursor: pointer;

		&_active::before {
			content: "";
			display: block;
			position: absolute;
			bottom: -1px;
			width: 100%;
			height: 1px;
			background-color: #000;
		}
	}

	&__content {
		margin: 60px 0;
	}

	&__content-item {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__content-card {
		display: block;
		width: 100%;
		background: $light-color;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
		text-decoration: none;
        transition: transform .3s ease-in-out;

		img {
			width: 100%;
		}
	}

	&__card-info {
		padding: 11px 12px 16px 12px;
		border: 1px solid $dark-color;
		border-top: none;
	}

	&__card-name,
	&__card-price {
		color: #000;
		font-size: 16px;
		font-weight: 500;
		line-height: normal;
	}

	&__card-price {
		margin-top: 7px;
	}
}

@media screen and (min-width: 768px) {
	.catalog {
		&__content {
			padding: 10px 10px 0 10px;
            position: relative;

			&::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 200px;
                height: 1px;
                background-color: $dark-color;
			}

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 200px;
                background-color: $dark-color;
            }
		}

		&__content-card {
			width: 340px;

			img {
				max-height: 198px;
				object-fit: cover;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
    .catalog {
        &__content {
            padding: 25px 25px 0 25px;
        }
        &__content-item {
            gap: 35px;
        }

        &__content-card:hover {
            transform: scale(1.15);
        }
    }
}

@media screen and (min-width: 1920px) {
    .catalog {
        &__content {
            margin-bottom: 100px;
        }

        &__content-item {
            column-gap: 83px;
            row-gap: 25px;
        }

        &__content-card {
            width: 285px;
        }
    }
}