@use "/src/sass/base/variables.scss" as *;

.git {
	padding-top: 60px;

	&__wrapper {
		padding-top: 60px;
	}

	&__col {
		position: relative;
	}

	&__fieldset {
		border: none;
		margin: 0;
		padding: 0;
	}

	&__label {
		display: block;
		color: $dark-color;
		font-weight: 400;
		font-size: 14px;
		line-height: 28px;

		&:nth-child(2) {
			margin-top: 8px;
		}
	}

	&__input {
		border: 1px solid #e2e1e5;
		border-radius: 2px;
		padding: 10px 15px;
		width: 100%;
		height: 48px;
		color: $dark-color;
	}

	&__textarea {
		display: block;
		border: 1px solid #e2e1e5;
		border-radius: 2px;
		padding: 10px 15px;
		width: 100%;
		height: 132px;
		resize: none;
	}

	&__input,
	&__textarea {
		&:focus {
			outline: 1px solid $dark-color;
			border: none;
		}

		// &:invalid {
		// 	outline: 1px solid $ui-error;
		// }

		&::placeholder {
			color: $ui-disabled;
			font-size: 14px;
		}
	}

	&__check-block {
		margin-top: 20px;
		display: flex;
		align-items: center;

		a {
			margin-left: 3px;
			text-decoration: none;
			color: #a22dc6;
		}
	}

	&__checkbox {
		margin-right: 15px;
		border: 1px solid $dark-color;
		border-radius: 2px;
		width: 15px;
		height: 15px;
		accent-color: #a22dc6;
	}

	&__img {
		display: none;
		width: 100%;
		object-fit: cover;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}

	&__btn {
		margin-top: 20px;
	}

	&__vase {
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

@media screen and (min-width: 768px) {
	.git {
		&__wrapper {
			padding: 45px 0 0 24px;
		}

		&__vase {
			display: block;
		}

		&__input, &__textarea {
			width: 300px;
		}

		
	}
}

@media screen and (min-width: 1200px) {
	.git {
		&__wrapper {
			padding: 80px 0 0 0;
		}

		&__col {
			&:first-child {
				padding-right: 20px;
			}

			&:last-child {
				padding-left: 20px;
			}
		}

		&__img {
			display: block;
		}

		&__input {
			&:hover {
				outline: 1px solid $dark-color;
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	.git {
		&__col {
			&:first-child {
				padding-right: 0;
			}

			&:last-child {
				padding: 0 75px 0 147px;
			}
		}

		&__img {
			max-width: 573px;
		}
		
		&__fieldset {
			display: flex;
			justify-content: space-between;
		}

		&__vase {
			right: 75px;
		}
	}
}
