@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as mixin;

.git {
	padding-top: 60px;

    &__wrapper {
        padding-top: 60px;
    }
    
    &__col {
        position: relative;
    }

	&__img {
		display: none;
	}

    .box {
        display: block;
        width: 340px;
        height: 428px;
        background-color: black;
    }

    &__vase {
        display: none;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .git {
        &__wrapper {
            padding: 45px 0 0 24px;
        }
        .box {
            width: 300px;
        }

        &__vase {
            display: block;
        }
    }
}
