@use "/src/sass/base/variables.scss" as *;

.works {
	padding-top: 60px;
	padding-bottom: 300px;

	&__slider {
		margin-top: 40px;
	}

	.swiper-slide img {
		width: 100%;
	}

	&__slider-nav {
		display: none;
	}

	.swiper-pagination {
		bottom: -43px;

		&-bullet {
			width: 10px;
			height: 10px;
			border-radius: 0;
			background: $dark-color;
			opacity: 100%;
			-webkit-tap-highlight-color: transparent;
		}

		&-bullet-active {
			background: $ceramic-color;
		}
	}

	.swiper-pagination-horizontal.swiper-pagination-bullets
		.swiper-pagination-bullet {
		margin: 0 6px;
	}
}

@media screen and (min-width: 768px) {
	.works {
		&__slider {
			margin-top: 45px;
		}

		.swiper-slide img {
			display: block;
			margin: 0 auto;
			width: 400px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.works {
		&__slider {
			margin: 80px 40px 0 40px;
		}

		&__wrapper {
			position: relative;
		}

		.swiper-pagination {
			bottom: -38px;
		}

		&__slider-nav {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			display: block;
			font-size: 21px;
			background-color: transparent;
			border: none;
			padding: 0;
		}

		.icon-left_arrow {
			left: 14px;
		}

		.icon-right_arrow {
			right: 14px;
		}
	}
}
