@use "/src/sass/base/variables.scss" as *;

.works {
	padding-top: 60px;
	padding-bottom: 300px;

	&__slider {
		margin-top: 40px;
		padding-bottom: 45px;
	}

	.swiper-slide img {
		width: 100%;
	}

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

	.swiper-pagination {
		bottom: 0;

		&-bullet {
			width: 10px;
			height: 10px;
			border-radius: 0;
			background: $dark-color;
			opacity: 100%;
			-webkit-tap-highlight-color: transparent;
		}

		&-bullet-active {
			background: $ceramic-color;
		}
	}

	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 6px;
	}
}

@media screen and (min-width: 768px) {
	.works {
		&__slider {
			margin-top: 45px;
		}

		.swiper-slide img {
			display: block;
			margin: 0 auto;
			width: 400px;
		}
	}
}